
.header{
  margin-bottom: 50px;
  font-weight: 700;
  background-color: #67009a;
  background-image: linear-gradient(to right, #67009a, #244cbe);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 38px;
  -moz-text-fill-color: transparent;
  line-height: 1.3em;
  text-align: left;
}
.headerh2{
  color: rgb(184,184,184);
  font-weight: 700;
  font-size: 23px;
  text-align: left;
}

.btn{
  border-radius: 100px;
    color: white;
    background-image: linear-gradient(to right, #67009a, #244cbe);
    padding: 15px 200px 15px 200px;
    text-decoration: none;
    border: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .btn{
    padding: 15px 120px 15px 120px;
  }
  .landingPageImg{
    display:none;
  }
  .header{
    font-size:30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .btn{
    padding: 15px 90px 15px 90px;
  }
  .landingPageImg{
    width: 300px;
    height: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .btn{
    padding: 15px 80px 15px 80px;
  }
  .landingPageImg{
    width:350px;
    height: 200px;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .btn{
    padding: 15px 120px 15px 120px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .landingPageImg{
    width:500px;
    height: 300px;
  }
}